@tailwind base;
@tailwind components;
@tailwind utilities;


.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .image {
    border-radius: 10px;
  } */
  
  .right-arrow {

    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  